.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  padding-bottom: 20em;
}

.header {
  padding: 1.6em;


  position: fixed;
  z-index: 10;
}

.projects {
  padding-top: 8em;
}
