@import "../../sass/variables";


.project{
  flex-basis: 48%;
  background-color: white;
  padding: 2em;
  position: relative;
  margin-bottom: 2em;

  .top{
    margin-bottom:2em;

    li{
      line-height: 0;

      i{
        padding-right: 5px;
        padding-bottom: 2px;
      }
    }
  }

  &.running {
    .top {
      color: $primary-color;
    }
  }


  .dots{
    cursor: pointer;
  }

  .popup{
    position: absolute;
    padding: 1em;
    background-color: white;

    margin-top: -2em;

    right:1em;



    li {
      padding: .5em 0;
      cursor: pointer;

      &:hover{
        color: $primary-color;
      }
    }
  }

  .tracker{
    padding: .5em 0;
    border-bottom: 1px solid lighten($border-color, 30%);

   .running {
      color: $primary-color;
    }

  }

  .expand {
    i {
      font-size: 30px;
      margin-top: .5em;
      cursor: pointer;

      &:hover{
        color: $primary-color;
      }
    }
  }
  .bottom{
    margin-top: 2em;
  }

  button i {
    margin-left: 1em;
  }

  button span {
    margin-left: 1.2em;
    line-height: 0;
  }

}


button.running {
  background-color: $primary-color;
  color: white;
}
