.project {
  opacity: 0;
  position: relative;
  //width: 100%;
  margin-bottom: 1.5em;

  flex-basis: 49%;
  display: flex;
  flex-direction: column;
  //margin-right: 1em;

  background-color: white;
  padding: 3em;

  transition: opacity 300ms ease-in-out, flex 10ms ease-in-out;

  &.running {

    h1 {
      color: #00bcd4;
    }
  }


  ul.meta {

    li.time{
      margin-left: 2em;

      &.running,
      span.running i{
        color: #00bcd4;
      }

    }
  }

  ul.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  
  .duration {
    text-align: center;
    width: 100%;
    padding: 1em;
    margin: auto;
  }

  .top{
    width: 100%;
    padding-top: -2em;
    height: 1em;
    margin-bottom: 3em;

    i {
      top:2px;
    }





  }

}

span {
  position: relative;
  color: black;

  &.running{
   color: #00bcd4;
  }

}

i {
  position: absolute;
  top:-5px;
  left: -28px;
}

i.inline{
  left: -28px;
  top:-2px;
  font-size: 22px;
}

i.button{
  top:-5px;
  left: -28px;

}



.bottom{
  padding: 2em 0 0 0;
  position: relative;
  button{
    margin-right: 1em;
    margin-left: 0;
  }

  i.crop {
    top: 5px;
    //font-size: 24px;
    left: -21px


  }

  i.crop,
  i.delete{
    color: #d9d9d9;
    cursor: pointer;
    transition: all 200ms ease;
    &:hover{
      color: black;
    }
  }

  i.delete{
    left: 0;
  }
}

.trackers{
  display: flex;
  flex-direction: column;
}

.tracker{
  flex-wrap: nowrap;
  //padding: 2em 0;
  position: relative;
  width: 100%;
  //margin: 3em 0;
  //height: 3.5em;
  padding: 1em 0;
  border-bottom: .5px solid rgba(171, 171, 171, 0.29);

  label {
    font-weight: 100;
  }
  label.running {
    color: #00bcd4;
    //font-size: 1.4em;
  }


  ul li {
    //display: inline-block;
  }

  ul.meta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
}

button.running,
button.running{
  background-color: #00bcd4;
  color: white;
}

button.delete{
  background-color: #37474f;
  color: white;
}

button span {
  color: inherit;
}