@import "../../sass/variables";


.project{
  flex-basis: 48%;
  background-color: white;
  padding: 2em;
  position: relative;
  margin-bottom: 2em;

  .top{
    margin-bottom:2em;
  }

  .dots{
    cursor: pointer;
  }

  .popup{
    position: absolute;
    padding: 1em;
    background-color: white;

    margin-top: -2em;

    right:1em;



    li {
      padding: .5em 0;
      cursor: pointer;

      &:hover{
        color: $primary-color;
      }
    }
  }

  .tracker{
    padding: .5em 0;
    border-bottom: 1px solid lighten($border-color, 30%);
  }

  .bottom{
    margin-top: 2em;
  }
}
