* {
  box-sizing: border-box;
  user-select: none;
  outline: none;
  //transition: all 200ms ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d1dddd;
  background-color: #e6f1f1;
  overflow-y: scroll;
}

section {
  width: 100%;
}

main{
  margin-top: $offset-top;
}

.container {
  max-width: $app-width;
  width: 100%;
  margin: auto;
  position: relative;
}

p {
  user-select: text;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input, button, textarea {
  border: 1px solid $border-color;
  font-size: 1em;
  margin: 0;
  position: relative;
}

input, textarea {
  width: 100%;
  margin: 1em 0;
  padding: .8em;
}

button {
  padding: .8em 2em;
  text-transform: uppercase;
  border: none;
  font-size: .8em;
  cursor: pointer;
  border-radius: 2px;
  transition: all 100ms ease;
  background-color: #e8e8e8;

  &.primary{
    background-color: $primary-color;
    color: white;
  }
}

.circle {
  border-radius: 50%;
  background-color: #919191;
  width: 2em;
  height: 2em;
  position: relative;
  cursor: pointer;
  margin-top: 2em;
}

hr {
  border: .5px solid rgba(171, 171, 171, 0.29);
}


.popup {
 display: none;
  width: 180px;
  border: solid 1px lighten($border-color, 20%);

  z-index: 5;

  &.js-active{
    display: block;
  }
}


nav{
  width: 100%;
  padding: 1rem 0;
  background-color: #fff;
  button{
    margin: 0;
  }

  .top-nav {
    button {
      margin-right: 1em;
  
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

svg{
  height: 18px;
  fill: currentColor;
}

button.svg{
  background-color: #666;
  color: #fff;
  padding: 8px;
  border-radius: 3px;
  vertical-align: middle;
  svg{
    vertical-align: middle;
  }
}