* {
  box-sizing: border-box;
  user-select: none;
  outline: none;
  //transition: all 200ms ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
section {
  width: 100%;

}

.container-fluid {
  max-width: $app-width;
  width: 100%;
  margin: auto;
  position: relative;
}

p {
  user-select: text;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input, button, textarea {
  border: 1px solid $border-color;
  font-size: 1em;
  margin: 0;
  position: relative;
}

input, textarea {
  width: 100%;
  margin: 1em 0;
  padding: .8em;
}

button {
  padding: .8em 2em;
  text-transform: uppercase;
  width: 140px;
  //margin-left: 1em;
  border: none;
  font-size: .8em;
  cursor: pointer;
  border-radius: 2px;
  transition: all 100ms ease;
  background-color: #e8e8e8;
}

.circle {
  border-radius: 50%;
  background-color: #919191;
  width: 2em;
  height: 2em;
  position: relative;
  cursor: pointer;
  margin-top: 2em;

  i{
    //position: ;
    color: white;
  }
}

hr {
  border: .5px solid rgba(171, 171, 171, 0.29);
}


.popup {
 display: none;
  width: 150px;
  border: solid 1px $border-color;

  z-index: 5;

  &.js-active{
    display: block;
  }
}

.drop-shadow{
  -webkit-box-shadow: 0px 5px 11px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 11px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 11px -8px rgba(0,0,0,0.75);
}