
section {
  position: relative;
}

.abs {
  position: absolute;

  &.middle {
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  &.left {
    left:0;
  }

  &.right {
    right:0;
  }

  &.middle.right{
    right:0;
    left: unset;
    top:50%;
    transform: translate(0, -50%);

  }

  &.middle.left{
    left:0;
    right: unset;
    top:50%;
    transform: translate(0, -50%);
  }
}

button.add {
  background-color: #607d8b;
  color: white;
}

.running{
  color: $primary-color !important;
  background-color: #333 !important;
}