nav {
	background-color: $primary-color;
	color: #fff;
}
.nav h1,
.nav h2 {
	margin-right: 2rem;
}

.nav h2 {
	font-size: 1.2rem;
}

header.title {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem 0;
	font-size: 1.8rem;
	// background-color: #cfcfcf;
	color: #333;
	// margin-bottom: 4rem;
}

.tasks.list,
.projects.list {
	display: flex;
	flex-direction: column;
	margin: 3rem auto;

	.task,
	.project {
		background-color: #fff;
		padding: 0.6rem 1rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: relative;
		border-bottom: 1px solid #e2e2e2;
		border-right: 1px solid #e2e2e2;
		margin-bottom: 1rem;
		border-radius: 12px;

		transition: all 120ms ease-in-out;

		button {
			width: 140px;
			background-color: unset;
			color: #000;

			&.toggleRunning {
				background-color: lighten($primary-color, 45%);
				color: #000;
			}
		}

		.title {
			flex-basis: 50%;

			h2.editable {
				width: 100%;
				cursor: text;
			}

			input {
				margin: 0;
				width: 100%;
				padding: 0.5rem;
			}

			input,
			button {
				font-size: 1rem;
				padding: 5px 10px;
				min-height: 30px;
			}
		}

		&.completed {
			.title {
				justify-content: flex-start;
				h2 {
					margin-right: 1rem;
				}
			}
		}

		&.running {
			button.toggleRunning {
				background-color: $running-color;
				color: #fff;
			}
		}
		.controls {
			flex-basis: 45%;
		}
	}
}

.task,
.project {
	.dots {
		padding: 1rem;
		svg {
			padding: 3px;
			cursor: pointer;
		}
		&:hover {
			.menu {
				display: flex;
			}
		}
	}
	.menu {
		position: absolute;
		display: none;
		flex-direction: column;
		background-color: #fff;
		color: #000 !important;
		left: 1rem;
		top: 50%;
		z-index: 10;

		&.drop-shadow {
			box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
		}

		&.js-active {
			display: flex;
		}

		button {
			all: unset;
			cursor: pointer;
			padding: 10px;

			&:hover {
				background-color: $secondary-color !important;
				color: #fff !important;
			}
		}
	}
}

.task,
.project,
.filter {
	select {
		margin: 0;
		padding: 5px;
		width: auto;
	}
}

.time {
	// transition: all 100ms ease-in-out;
	min-width: 120px;
	display: flex;
	justify-content: flex-start;
}
.time svg {
	height: 18px;
	margin-right: 8px;
}

.project {
	border-left: 5px solid $project-color;
}

.task {
	border-left: 5px solid $task-color;

	&.completed {
		border-left: 5px solid $completed-color;

		.time {
			font-size: 110%;
		}

		// background-color: lighten($completed-color, 45%) !important;
	}

	&.running {
		border-left: 5px solid $running-color;

		.time {
			font-size: 110%;
			color: $running-color;
		}
	}
}

.modal {
	position: fixed;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;

	.dialogue {
		background-color: #fff;
		box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
		min-width: 500px;

		header,
		footer {
			padding: 1.5rem;
		}

		header {
			background-color: $secondary-color;
			color: #fff;
		}

		main {
			padding: 1rem 2rem;
			margin: 0;

			input,
			select {
				width: 100%;
			}
		}

		footer {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			background-color: #fafafa;

			button.primary {
				margin-left: 1rem;
			}
		}
	}
}

.filters {
	label.title {
		padding: 0.5rem;
	}
}

.filter {
	margin: 0.5rem 0 2rem 0;
	padding: 1rem 2rem;
	border-radius: 3px;
	border: 1px dashed #aaa;

	&.flex-row {
		justify-content: flex-end;
	}

	input,
	select {
		margin: 0 1rem;
	}

	label {
		display: flex;
		align-items: center;
	}
}

.timesheet {
	.list {
		background-color: #fafafa;
		border: 1px solid gray;
		article {
			justify-content: space-between;
			padding: 1rem;

			&:nth-of-type(odd) {
				background-color: #fff;
			}

			&.totals {
				padding: 1rem;
				// font-size: 120%;
				background-color: rgb(99, 99, 99);
				color: #fff;
			}
		}
	}
}
