.tasks.list,
.projects.list {
	display: flex;
	flex-direction: column;

	.task,
	.project {
		background-color: #fff;
		padding: 0.6rem 1rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: relative;

		&:nth-of-type(even) {
			background-color: #fafafa;
		}

		button {
			width: 140px;
			margin-right: 1rem;
		}

		&.running {
			button.toggleRunning {
				background-color: $primary-color;
				color: #fff;
			}
		}

		h2 {
			width: 100%;
			cursor: text;
		}

		.title {
			flex-basis: 50%;

			input {
				margin: 0 1rem 0 0;
				width: 100%;
				padding: 0.5rem;
			}

			input,
			button {
				font-size: 1rem;
				padding: 5px 10px;
				min-height: 30px;
			}
		}
		.controls {
			flex-basis: 25%;
		}
	}
}

.task,
.project {
	.dots {
		padding: 0.5rem;
		svg {
			padding: 3px;
			cursor: pointer;
			color: #000 !important;
		}
		&:hover {
			.menu {
				display: flex;
			}
		}
	}
	.menu {
		position: absolute;
		display: none;
		flex-direction: column;
		background-color: #fff;
		color: #000 !important;
		right: 1rem;
		top: 50%;
		z-index: 10;

		&.drop-shadow {
			box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
		}

		&.js-active {
			display: flex;
		}

		button {
			all: unset;
			cursor: pointer;

			padding: 10px;
			margin: 0 !important;

			&:hover {
				background-color: $secondary-color;
				color: #fff;
			}
		}
	}
}

button.delete {
	position: absolute;
	top: 6px;
	right: 6px;
	padding: 2px;
	border-radius: 3px;
	background-color: #aaa;
	transition: all 120ms ease;

	&:hover {
		background-color: #000;
	}

	svg {
		padding: 4px;
	}
}

.time {
	min-width: 120px;
	display: flex;
	justify-content: flex-start;
}
.time svg {
	height: 18px;
	margin-right: 8px;
}

.project {
	border-left: 5px solid $project-color;
}

.task {
	border-left: 5px solid $task-color;
}
