.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  padding-bottom: 20em;
}

.header {
  padding: 1.6em;

  position: fixed;
  z-index: 10;
}

.projects {
  padding-top: 8em;
}

.top-nav {
  button {
    margin-right: 1em;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.project {
  flex-basis: 100%;
  background-color: white;
  padding: 2em;
  position: relative;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &.running {
    .top {
      color: $primary-color;
    }
  }

  .dots {
    cursor: pointer;
  }

  .popup {
    position: absolute;
    padding: 1em;
    background-color: white;

    margin-top: -2em;

    right: 1em;

    li {
      padding: 0.5em 0;
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .tracker {
    padding: 0.5em 0;
    border-bottom: 1px solid lighten($border-color, 30%);

    .running {
      color: $primary-color;
    }
  }

  .expand {
    i {
      font-size: 30px;
      margin-top: 0.5em;
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }
  }
  .bottom {
    margin-top: 2em;
  }

  button i {
    margin-left: 1em;
  }

  button span {
    margin-left: 1.2em;
    line-height: 0;
  }
}

button.running {
  background-color: $primary-color;
  color: white;
}

.tasks{
  margin: 2rem 0;
}
.task {
  padding: 3rem;
  margin-bottom: 3rem;
}

.task, .project{
  border-radius: 6px;
  background-color: #555;
  color: #fff;
  position: relative;

  box-shadow: 0 0 25px 0 rgba(0,0,0,0.2);

  button.delete{
    position: absolute;
    top:0;
    right:0;

    &:hover{
      background-color: #000;
    }
  }
}


