@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Mono:400&display=swap'");

body {
	font-size: 100%;
	font-family: "Roboto", sans-serif;
}

h1 {
	margin: 0;
	font-weight: 300;
	font-size: 1.5em;

	&.brand {
		font-weight: 500;
	}
}

h2 {
	margin: 0;
	font-weight: 300;
}

button {
	font-size: 0.9rem !important;
}

.time .ticker {
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
}
