$app-width: 1000px;
$offset-top: 6rem;

//Breakpoints
$mobile-width: 500px;
$tablet-width: 1024px;
$laptop-width: 1366px;
$fhd-width: 1920px;


//Colors
$border-color: #a1a1a1;
$primary-color: #00bcd4;
$secondary-color: #607d8b;

