$app-width: 1200px;
$offset-top: 3rem;

//Breakpoints
$mobile-width: 500px;
$tablet-width: 1024px;
$laptop-width: 1366px;
$fhd-width: 1920px;

//Colors
$border-color: #a1a1a1;
// $primary-color: #00bcd4;
$primary-color: #00aad4;
$secondary-color: #607d8b;
$compliment-color: #ffe59d;

$project-color: #44888d;
$task-color: #00bcd4;

$running-color: $primary-color;
$completed-color: #04c263;
